# Copier vers .env (jamais committer)

GASOIL_DOMAIN=gasoil-tracking.delhomme.ovh
GASOIL_HOST_PORT=3340

PORTAINER_URL=https://portainer.delhomme.ovh
PORTAINER_USERNAME=
PORTAINER_PASSWORD=
PORTAINER_ACCESS_TOKEN=

NPM_URL=https://nginx.delhomme.ovh
NPM_EMAIL=
NPM_PASSWORD=

JWT_SECRET=
APP_VERSION=1.0.0
ADMIN_EMAIL=admin@delhomme.ovh
